<div class="text-center">
  <%= image_tag 'quokka.png', width: 35 %>
  <h6 class="mt-1">
    <div class="badge rounded-pill bg-light text-dark">
      <%= number_to_currency(rand(900) * 100, {unit: '¥', precision: 0}) %>
    </div>
  </h6>
</div>
